
<div class="api-frame">
<div class="api-list-index">
		<ul>
		{{#each items}}
		<li>
			<a href="#{{ident.name}}">{{ident.name}}</a>
		</li>
		{{/each}}
	</ul>
</div>
<div class="api-list">
	{{#each items}}
	<div class="api-list-item">
		<div class="api-item-title">
		<a name="{{ident.name}}">
				
			<h3>{{ident.name}}({{#if params}}{{paramList params}}{{/if}})
			</h3>

		</a>
		</div>
		<div class="api-list-item-body">
			<div class="api-item-description">
				{{{description}}}
			</div>
			<h5 class="api-item-subtitle">Parameters</h5>
			<ul class="api-item-list api-item-params">
				{{#if params}}
					{{#each params}}
					<li>
						<code>{{name}}</code>: 
						{{commaList types}}
						<p>
						{{{description}}}
						</p>
					</li>
					{{/each}}
				{{else}}
					<li>
						None.
					</li>
				{{/if}}
			</ul>
			<h5 class="api-item-subtitle">Returns</h5>
			<ul class="api-item-list api-item-returns">
				<li>
					{{#with retval}}
						{{commaList types}}
						<p>
							{{{description}}}
						</p>
					{{/with}}
				</li>
			</ul>
		</div>

	</div>
	{{/each}}
</div>
</div>