
<div class="spec-report">
	<div class="gh-spec-link">
<a href="{{{githubSpecsLink}}}"><h4>See the test code at GitHub</h4></a>
	</div>
	
	<ul class="spec-stats">
		<li><span class="stat-name">Tests: </span>{{stats.total}}</li>
		<li><span class="stat-name">Passing: </span>{{stats.passes}} / {{stats.total}}</li>
	</ul>
	{{#each testSuites}}
	<div class="spec-suite">
		<h4 class="spec-suite-title">{{suite}}</h4>
		<ul class="spec-suite-item-list">
			{{#each tests}}
			<li class="spec-suite-item">
				{{title}}
			</li>
			{{/each}}
		</ul>
	</div>
	{{/each}}
</div>